{% extends 'base.html.twig' %}

{% block body %}

    <div class="container whitebg my-5">
        <div class="py-5">
            <center><img src="{{event.picture}}" alt="Festival" style="width: 60vw; height: 35vw;"></center>
            <div class="container mt-3" style="margin-left: 10em;">
                <h2>{{event.name}}</h2>
                <p>{{event.description}}</p>
                <br>
                <p>From: {{event.dateStart|date()}} <br> Until: {{event.endDate|date()}}</p>
                <p>Capacity: {{event.capacity}}</p>
                <p>Address: {{event.address}} <br> {{event.zip}}, {{event.city}}</p>
                <p>Contact: <br>
                    <a href="{{event.eventUrl}}" target="_blank">{{event.eventUrl}}</a>
                    <br>
                    <a href="mailto:{{event.email}}">{{event.email}}</a> | {{event.phone}}</p>
            </div>
            <input type="button" class="btn btn-success" value="Show on Map" onclick="getLocation()" style="margin-left: 10em;">
            <center><div id="map"></div></center>
        </div>
    </div>

    <script>
    let geocoder;
    let markers = [];
    function initMap() {
        geocoder = new google.maps.Geocoder();
        var mlocation = {
            lat: 48.20849,
            lng: 16.37208
        };

        map = new google.maps.Map(document.getElementById('map'), {
            center: mlocation,
            zoom: 12
        });
    }

    function getLocation() {
        let address = "{{event.address}},{{event.city}}";

        geocoder.geocode({
            'address': address
            }, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                let marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                markers.push(marker);
                console.log(markers);
            } else {
                console.table(results);
                alert('It was not possible to perform your request due to ' + status);
            }
        })
    };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtjaD-saUZQ47PbxigOg25cvuO6_SuX3M&callback=initMap" async defer></script>
{% endblock %}