{% extends 'base.html.twig' %}

{% block body %}

{# display message if availabe, e.g. after a create or edit #}
{% for message in app.flashes('notice') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

<div class="container whitebg my-5 p-3">
<h2 class="page-header"> Event CRUD </h2>
    <table class="table table-striped justify-content-between">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for event in events %}
            <tbody>
                <tr>
                    <td>{{event.id}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.city}}</td>
                    <td> 
                        <a href="/details/{{event.id}}" class="btn btn-sm btn-success">View</a>
                        <a href="/crud/edit/{{event.id}}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="/crud/delete/{{event.id}}" class="btn btn-sm btn-danger">Delete</a>      
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
